/*********** BODY ************/

body {
background-color: white;
margin: 0 ;
padding: 0;
padding-bottom: 200px;
}






/*********** HEADER ************/

#header{
background-image: url('../images/wood3.jpg');  
background-size: cover;
background-size: contain;
}



/***** Welcome Block ********/

.welcome-block {
  margin-right: 25px;
  margin-left:25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}


.welcome-block h1 {
  font-size: 3em;
  text-align: center;
}



.welcome-block a {
  text-decoration: none;
  color: white;
}

.welcome-block a:hover{
  color: orange;
}


.welcome-block #g {
  color: orange; 
}


.nav-head {
  color: white;
  font-family: Copperplate;
  padding-top: 25px;
}



.nick {
  font-size: 1em;
}




#about h2{
  text-align: center;
  font-family: copperplate;
  font-size: 2em;
  color: orange;
}


#about {
  padding-top: 50px;
}









.row {
  display: none;
  margin: 0;
  text-align: center;
  display:;
  background-color: #f6f6f6;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}


.inline {
  
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  list-style-type: none;
}




.button-block {
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 15px;
}


button {
  height: 75px;
  width: 300px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 5px;
  font-size: 1.5em;
}

.button-block button:hover{
  border-color: orange;
  color: orange;

}


p {
  padding-left: 150px;
  padding-right: 150px;
  font-size: 1.2em;
  font-family:  Georgia, Times, 'Times New Roman', serif;
}



